/* //HEADER  */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;

}

h3{
    font-size: 24px;
}

.header_one {
    background-color: #EAC926;;
}
.header_two {
    background-color: #EAC926;;
    
}
.search_bar {
background-color: #EAC926;
}

p {
font-family: roboto;
font-size: 12px;
text-align: center;
}

.header_navbar {
    background-color: #EAC926;
}

/* .list-header_one {
    font-family: roboto;
    font-size: 12px;
    color: black;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
.list-header_two {
    font-family: roboto;
    font-size: 12px;
    color: black;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
} */
.burger_menu {
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    background-color: blue;
    width: 40px;
    margin: auto;
   /* box-sizing: border-box; */
}
div.ultima_visita
div.ofertas {
    display: flex;
    flex-wrap: wrap;
}

.banner {
    width: 100%;
}

/* //MAIN */
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section article i {

display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
   
    
}
article div.infor_articulos_main {
   font-family: roboto;
   font-size: 18px;
   /* text-align: center;   */
   /* width: 100%; */
   display: flex;
   flex-direction: column;
   align-items:baseline;
   position: relative;
   padding: 15px;
   
}
/* .monto 
.promo{
    display: flex;
  justify-content: right;
} */
.promo {
    color: #39b54a;
}
.img_main_productos {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    border-top: 1px solid #ebebeb;
    padding: 12px;
    margin: 15px;
    width: 250px;
    height: 300px;
    box-sizing: border-box;
}

.precio {
    font-size: 18px;
    width: 30%;
}
.descuento {
    width: 70%;
}
.info {
    font-size: 16px;
    font-weight: normal;
}




/* main section .info {
    display: block;
} */
/* main section div.infor-articulos-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
} */



FOTER 

.footer {
    font-family: roboto;
    font-size: 12px;
    text-align: center;
}
footer section article i {
    color:blue;
    font-size: x-large;
}

CSS REGISTER

.registro_ml {
    font-size: medium;
}

CSS LOGIN

.login_ml {
 background-color: #EAC926;
 color:#EAC926 
}