                HEADER_HEADER
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;

}

h3{
    font-size: 24px;
}

.header_one {
    background-color: #EAC926;;
}
.header_two {
    background-color: #EAC926;;
    
}
.search_bar {
background-color: #EAC926;
display: flex;
    flex-wrap: wrap;		
    padding: 5%;
}

p {
font-family: roboto;
font-size: 12px;
text-align: center;
}

.header_navbar {
    background-color: #EAC926;
} 

.list-header_one {
    font-family: roboto;
    font-size: 12px;
    color: black;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
.list-header_two {
    font-family: roboto;
    font-size: 12px;
    color: black;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
} 

.burger_menu {
    background-color: #0044AA;
    text-align: center;
    font-size: 20px;
    height: 40px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    width: 40px;
    margin: auto;
   box-sizing: border-box;
}

div.ultima_visita
div.ofertas {
    display: flex;
    flex-wrap: wrap;
}

.banner_img {
    width: 100%;
    margin: 0 auto;
}

                    MAIN_MAIN

.main {
    width: 90%;
    margin: 0 auto;
}

main section article i {

display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
   
    
}
article div.infor_articulos_main {
    width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items:baseline;
   position: relative;
   padding: 15px;
   margin-bottom: 10px;
   
}
.img_main_productos {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    border-top: 1px solid #ebebeb;
    padding: 12px;
    margin: 15px;
    width: 250px;
    height: 300px;
    box-sizing: border-box;
   
}
.productos {
    border-top: 1px solid #ebebeb;
  padding: 15px;
}
.monto 
.promo{
    display: flex;
  justify-content: right;
}
.promo {
    color: #39b54a;
}


.precio {
    font-size: 18px;
    width: 30%;
}
.descuento {
    width: 70%;
}
.info {
    font-size: 16px;
    font-weight: normal;
}


                    FOOTER_FOOTER

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
footer section article h3, h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer section article i {

    color:blue;
    font-size: x-large;
}

CSS REGISTER

body {
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5;
  }
  
  .registro_ml {
    width: 450px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
   
  }
  
  .registro_ml h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .registro_ml input[type="text"],
  .registro_ml input[type="email"],
  .registro_ml input[type="date"],
  .registro_ml input[type="file"],
  .registro_ml input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  .intereses div {
    display: inline-block;
    margin-right: 15px;
  }
  

  .intereses label {
    cursor: pointer;
  }
  
  .registro_ml input[type="submit"],
  .registro_ml input[type="reset"] {
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

CSS LOGIN

body {
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5; 
  }
  
  .login_ml {
    width: 350px; 
    margin: 50px auto; 
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .login_ml h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login_ml input[type="text"],
  .login_ml input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  .login_ml input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  


@media (max-width: 768px) {
    .header_navbar {
      display: none;
    }
 
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .header_navbar {
      display: none;
    }
  }
  
  @media (min-width: 1025px) {
    .header_navbar {
      display: block;
    }
  }

  @media (min-width: 361px){
    main section article .infor_articulos_main{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;				
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.productos article{
        width: 45%;
    }

    .monto,
    .promo{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.productos article{
        width: 22%;
    }
}